
/* CSS cho phần tử body */
body.AppointmentsBody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* CSS cho phần tử h1 */
h1 {
    text-align: center;
    color: #333;
}

/* CSS cho danh sách ul */
ul {
    list-style-type: none;
    padding: 0;
}

/* CSS cho phần tử li */
li {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* CSS cho phần tử h3.ServiceName */
h3.ServiceName {
    color: #0070c0;
}

/* CSS cho phần tử p */
p {
    margin: 5px 0;
}

/* CSS cho nút button.BtnSubmit */
button.BtnSubmit {
    background-color: #0070c0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS cho nút button.BtnSubmit khi đưa chuột vào */
button.BtnSubmit:hover {
    background-color: #005999;
}

/* CSS cho nút a.Back */
a.Back {
    display: block;
    text-align: center;
    background-color: #0070c0;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* CSS cho nút a.Back khi đưa chuột vào */
a.Back:hover {
    background-color: #005999;
}
